body, html {
    padding: 0;
    margin: 0;
    background-color: #424874;
    height: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }  

.btn-colour {
    --bs-btn-color: #424874;
    --bs-btn-bg: #DCD6F7;
    --bs-btn-border-color: #424874;
    --bs-btn-hover-border-color: #A6B1E1;
    --bs-btn-hover-color: #424874;
    --bs-btn-hover-bg: #A6B1E1;
    --bs-btn-active-bg: #A6B1E1;
    --bs-btn-hover-border: #A6B1E1;
    --bs-btn-active-border-color: #A6B1E1;
}

.log-side {
    padding-top: 25rem;
    background-color: #2B3035;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .log-side {
        padding-top: 10rem;
    }
}

@media screen and (max-width: 768px) {
    #logo {
        margin-top: 1%;
    }
}

.sign-up{
    --bs-btn-color: #DCD6F7;
    --bs-btn-hover-color: #424874;
    --bs-btn-active-color: #DCD6F7;
}
#logo{
    width: 19rem;
    margin-top: 32vh;
    position: relative;
}

.getStarted{
color: #DCD6F7;
}
.footerMenu{
    padding-top: 39vh;
}