.music-player-footer {
    position: fixed;
    bottom: 0;
    height: 7vh;
    width: 100%;
  }
  
  .music-player-footer p {
    color: white;
    margin: 0;
  }
  
  .music-player-footer button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: white;
    margin: 0 1px;
    cursor: pointer;
  }
  
  .music-player-footer button:hover {
    color: #A6B1E1;
  }
  .progress-container {
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, black, white); 
    margin: 0 10px; 
  }
  
  .time {
    white-space: nowrap;
    margin: 0 5px; 
  }
  .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
  }
  