.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2; /* Adjust the z-index as needed, higher than the waves */
  }
  
  section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Adjust the z-index as needed */
  }
  
  section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust the height based on your design */
    background: url(../assets/wave.png) repeat-x;
    background-size: 100% 100px;
  }
  
  section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 0; /* Lower z-index to place it behind the footer */
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  
  section .wave.wave2 {
    animation: animate2 30s linear infinite;
    z-index: -1; /* Lower z-index to place it behind the footer */
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  
  section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: -2; /* Lower z-index to place it behind the footer */
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  
  section .wave.wave4 {
    animation: animate2 15s linear infinite;
    z-index: -3; /* Lower z-index to place it behind the footer */
    opacity: 0.7;
    animation-delay: -4s;
    bottom: 20px;
  }
  
  @keyframes animate {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 1000px;
    }
  }
  
  @keyframes animate2 {
    0% {
      background-position: 0;
    }
    100% {
      background-position: -1000px;
    }
  }
  